[submodule "bundle/vim-sensible"]
  path = bundle/vim-sensible
  url = git://github.com/tpope/vim-sensible.git
  ignore = dirty
[submodule "bundle/base16"]
  path = bundle/base16
  url = git://github.com/chriskempson/base16-vim.git
  ignore = dirty
[submodule "bundle/vim-flagship"]
  path = bundle/vim-flagship
  url = git://github.com/tpope/vim-flagship.git
  ignore = dirty
[submodule "bundle/bufexplorer"]
  path = bundle/bufexplorer
  url = git://github.com/jlanzarotta/bufexplorer
  ignore = dirty
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = git://github.com/wincent/Command-T.git
  ignore = dirty
[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-repeat"]
  path = bundle/vim-repeat
  url = git://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule "bundle/vim-dispatch"]
  path = bundle/vim-dispatch
  url = git://github.com/tpope/vim-dispatch.git
  ignore = dirty
[submodule "bundle/vim-surround"]
  path = bundle/vim-surround
  url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/vim-git"]
  path = bundle/vim-git
  url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "bundle/vim-transpose"]
  path = bundle/vim-transpose
  url = git://github.com/salsifis/vim-transpose.git
  ignore = dirty
[submodule "bundle/vim-go"]
  path = bundle/vim-go
  url = git://github.com/fatih/vim-go.git
  ignore = dirty
[submodule "bundle/vim-json"]
  path = bundle/vim-json
  url = git://github.com/elzr/vim-json.git
  ignore = dirty
[submodule "bundle/vim-markdown"]
  path = bundle/vim-markdown
  url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "bundle/textile"]
  path = bundle/textile
  url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
