[submodule "bundle/vim-sensible"]
  path = bundle/vim-sensible
  url = git://github.com/tpope/vim-sensible.git
  ignore = dirty
[submodule "bundle/base16"]
  path = bundle/base16
  url = git://github.com/chriskempson/base16-vim.git
  ignore = dirty
[submodule "bundle/vim-flagship"]
  path = bundle/vim-flagship
  url = git://github.com/tpope/vim-flagship.git
  ignore = dirty
[submodule "bundle/bufexplorer"]
  path = bundle/bufexplorer
  url = git://github.com/jlanzarotta/bufexplorer
  ignore = dirty
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = git://github.com/wincent/Command-T.git
  ignore = dirty
[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-repeat"]
  path = bundle/vim-repeat
  url = git://github.com/tpope/vim-repeat.git
  ignore = dirty
